:root {
    --color-text: #ffffff;
    --color-container-bg: rgba(0, 0, 0, 0.209);
    --color-section-bg: rgba(255, 255, 255, 0.1);
    --color-border: rgba(255, 255, 255, 0.186);

    --color-white: rgb(223, 223, 223);
    --color-white-select: rgb(147, 147, 147);
    --color-white-border: rgb(155, 155, 155);

    --color-button: rgb(132, 118, 196);
    --color-button-dark: rgb(89, 78, 139);

    --radius: 8px;
    --spacing: 8px;
    --font-main: "Assistant", sans-serif;
}

html {
    color: var(--color-text);
    background-size: cover;
    background-color: rgb(33,33,33);
    font-family: var(--font-main);
}

button {
    padding: 8px 16px;
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
    color: black;
    background-color: var(--color-button);
    border: 1px solid var(--color-white-border);
    border-radius: 8px;
    width: 100%;
}

button:hover {
    background-color: var(--color-button-dark);
}

input {
    padding: 8px 0px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    display: block
}

select {
    width: 100%;
    height: 3em;
    border-radius: var(--radius);
    border: 1px solid var(--color-button-dark);
}

textarea {
    resize: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0);
}

audio {
    display: block;
    margin-top: 8px;
    width: 100%;
}

a {
    font-weight: normal
}

@media (max-width: 600px) {
    .container {
        max-width: 90% !important;
    }
}

table {
    border-collapse: collapse;
    border: solid rgba(0, 0, 0, 0) 1px;
    width: 100%;
}

td,
th {
    border: solid rgba(0, 0, 0, 0) 1px;
    text-align: left;
    padding: 8px;
}

td:first-child, th:first-child {
  width: 25%;
}

td:last-child, th:last-child {
  width: 75%;
}

.divider {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.327);
    border: 0px solid red;
    height: 1px;
    margin-top:40px;
    margin-bottom: 40px;
}

.container {
    max-width: 60%;
    margin: auto;
    background-color: var(--color-container-bg);
    border: 1px solid var(--color-border);
    padding: 16px;
    border-radius: 16px;
    backdrop-filter: blur(10px);

}

.section {
    margin-bottom: 8px;
    padding: 16px;
    border: 1px solid var(--color-border);
    background-color: var(--color-section-bg);
    border-radius: 8px;
}

.delete-button {
    background-color: rgb(189, 93, 93);
    border: 1px solid rgb(170, 70, 70);
}

.delete-button:hover {
    background-color: rgb(136, 55, 55);
}

.answer {
    background-color: rgba(138, 138, 138, 0.3);
    border: 1px solid rgb(83, 83, 83);
    padding: 8px;
    border-radius: 8px;
    margin-top: 8px;
    text-align: left;
}

.success {
    background-color: rgb(18, 74, 18);
    border: 1px solid rgb(15, 50, 15);
    padding: 8px;
    border-radius: 8px;
    margin-top: 8px;
    text-align: left;
    transition: background-color 0.3s;
    /* animation: fadeIn 0.5s; */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hidden {
    display: none;
}

#push-to-talk-begin {
    width: 100%;
    height: 100px;
    font-size: 1.2em;
    font-weight: bold;
}

.input-file {
    background-color: rgba(255, 255, 255, 1);
}

#push-to-talk-begin {
    transition: background-color 0.3s, border 0.3s, box-shadow 0.3s;
}


.push-to-talk-active {
    background-color: rgba(168, 39, 39, 1) !important;
    border: 2px solid rgba(154, 23, 23, 1);
    box-shadow: 0 0 25px rgba(255, 100, 100, 0.7);
    color:white;
}

.processing {
    background-color: rgba(255, 165, 0, 0.3);
    box-shadow: 0 0 25px rgba(255, 200, 100, 0.2);
        transition: background-color 0.3s, border 0.3s, box-shadow 0.3s;
        border-radius: var(--radius);
}
